.player-stats-container {
  // display: grid;
  // grid-template-rows: auto;
  .row-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .row-1-col {
      .title {
      }
      .content {
      }
    }
  }
  .row-2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    .row-2-col {
      .title {
      }
      .content {
      }
    }
  }
  .row-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .row-3-col {
      .title {
      }
      .content {
      }
    }
  }
}
